.generalCourseContainer {
    height: 100%;
    width: 100%;
}

.checkbox-container {
    color: #606226;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
}

.item-li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.option-item {
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    padding: 24px 0;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    border-bottom: 1px solid #D8D8D8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D8D8D8;
}

.asidecontainer {
    height: 100%;
    width: 100%;
}


.courseDisplayContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    overflow-x: hidden;
}

.courseItem {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    min-height: 184px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 583px;

}

.courseItemActive {
    box-shadow: 8px 6px 3px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    min-height: 184px;
    color: #abcdef;
    position: relative;
    bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 583px;

}

.recruit-list-link {
    padding-top: 1%;
    padding-left: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 5%

}

.courseTitle {
    font-size: 22px;
    line-height: 24px;
    transition: all .05s cubic-bezier(0.2, 0.0, 0.2, 1);
}

.recruit-tips {
    font-size: 16px;
    margin: 6px 0px 22px;
    line-height: 22px;
}

.recruit-text {
    color: #808080;
    line-height: 14px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.selectIcon {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}